html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    /* bottom = footer height */
    padding-left: 25px;
    /*CODICE COPIA INCOLLATO ALLE 2 DI NOTTE*/
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

input{
    display:table;
    width: 100%;
}

select{
    display:table;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}