html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    /* bottom = footer height */
    padding: 25px;
    /*CODICE COPIA INCOLLATO ALLE 2 DI NOTTE*/
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

footer {
    background-color: lightcyan;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}