html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    /* bottom = footer height */
    padding-left: 25px;
    background: #ffffff url("../img/50lire no sfondo.jpg") no-repeat center;

    /*CODICE COPIA INCOLLATO ALLE 2 DI NOTTE*/
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}



footer {
    background-color: #c7c7c9;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}